:root {
  --mdc-layout-grid-margin-desktop: 0px;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-image: url("../../../img/background-dots.png");
  background-color: #fff;
  overflow: scroll;
}

.login-page-content {
  height: 100vh;

  &__inner {
    height: calc(100% - 128px);
  }

  &::before {
    position: absolute;
    width: 35%;
    background-color: #fff;
    content: '';
    display: block;
    height: 100%;
    right: 0;
  }
}

.mdc-textfield-helptext {
  font-family: Roboto;
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 14px;
  padding-top: 16px;
}

// Overriding this classes, no better way of changing
// the default colors for these classes
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: var(--mdc-theme-primary);
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused,
.mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused,
.mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused,
.mdc-notched-outline__trailing {
    border-color: var(--mdc-theme-primary);
}

.mdc-button--raised:not(:disabled), .mdc-button--unelevated:not(:disabled) {
    background-color: #E2F2FF;
}

.mdc-button--raised:not(:disabled), .mdc-button--unelevated:not(:disabled) {
    color: var(--mdc-theme-primary);
}

.mdc-typography--headline5 {
  margin-top: 0px;
  margin-bottom: 24px;
}

.mdc-typography--body2 a {
  color: var(--mdc-theme-primary);
}

.mdc-text-field {
    width: 100%;
}
.mdc-top-app-bar {
  position: unset;
}

.login-form-container {
  margin: auto;

  &__heading {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 47px;
    padding-bottom: 16px;
  }

  &__info {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 15px;
    line-height: 28px;
  }

  &__info-without-textfield {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 15px;
    line-height: 28px;
  }

  &__content-cell {
    position: relative;
    border-radius: 2px;
    height: auto;
    min-width: 440px;
    background-color: #FFFFFF;
    padding: 48px;
    max-width: 440px;
  }

  input {
    font-size: 16px;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
  }

  .mdc-textfield__label {
    font-family: Roboto, san-serif;
  }

  .login-button {
    margin-top: 48px;
    min-width: 132px;
  }

}

.separator {
  margin-top: 32px;
}

.text-field__separator {
  margin-top: 40px;
}

.login-message {
  display: flex;
  align-items: center;
  margin: 24px 0 0 0;

  &--error {
    &::before {
      content: "error";
      font-size: 24px;
      margin-right: 8px;
      font-family: "Material Icons";
    }

    color: #B00020;
  }

  &--success {
    &::before {
      content: "done";
      font-family: "Material Icons";
      font-size: 24px;
      margin-right: 8px;
    }

    color: green;
  }

  &--warning {
    &::before {
      content: "warning";
      font-family: "Material Icons";
      font-size: 24px;
      margin-right: 8px;
    }

    color: rgba(0, 0, 0, 0.87);
  }
}

.errorlist {
  ul {
    list-style: none;
  }

  li {
    margin-left: -38px;
    margin-top: -24px;
    display: block;
  }
}


.mdc-form-field>label {
  padding-left: 8px;
}

.invalid-input {
  color: white;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  height: 64px;
  width: 100%;
  background: #fff;
  text-align: center;

  li {
    display: inline;
    padding: 0px 24px 0px 0px;

    a {
      text-decoration: none;
      color: var(--mdc-theme-primary);
    }
  }
}

.login-form__forgot-password-link {
  float: right;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: var(--mdc-theme-primary);
    text-decoration: inherit;
    font-weight: inherit;
  }
}

.input-field-container {
  &.mdc-textfield--upgraded:not(.mdc-textfield--fullwidth):not(.mdc-textfield--box) {
    /*This is necessary because the not pseudo class takes precedence forcing an
    override of the built in MDC style*/
    margin-bottom: 8px;
    margin-top: 0;
  }
}

/* Tablet portrait mode */
@media only screen and (max-device-width: 1024px) and (orientation: portrait) {
  body {
    height: 100vh;
  }

  .login-form-container {
    margin-top: 0px;
  }
}

/* most modern phones landscape */
@media only screen and (max-device-width: 823px) and (orientation: landscape) {
  body {
    overflow: scroll;
    background-image: none;
  }

  .login-error {
    margin: 24px 0 32px 0;
  }

  .login-page-content {
    overflow: scroll;
  }

  .login-form-container::after {
    display: block;
    content: '';
    height: 48px;
  }
}

/* ipad pro portrait */
@media only screen and (min-device-height: 1025px) and (max-device-height: 1366px) and (orientation: portrait) {
  .login-form-container {
    margin-top: auto;
  }
}

/* screen width < tablet landscape */
@media only screen and (max-device-width: 1024px) and (orientation: landscape) {
  .login-page-content {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .login-form-container {
    padding: 48px 0px 0px 0px;
  }

  .login-button {
    margin: 48px 0px;
  }

  footer {
    bottom: 0;
    margin: 48px 0px 0px 0px;
  }
}

/* phones */
@media(max-device-width: 480px) {
  body {
    background-image: none;
    overflow: scroll;
  }

  .pp-login-topbar {
    .login-topbar_section {
      img {
        margin-left: 24px;
      }
    }
  }
  .login-form-container {
    &__content-cell {
      min-width: unset;
      padding: 0px;
      top: 50px;
    }
  }

  .login-toolbar {
    .login-toolbar_section {
      img {
        margin-left: 24px;
      }
    }
  }

  .login-error {
    margin: 24px 0 32px 0;
  }

  .login-message {
    &--error {
      margin: 0 0 0 0;
    }
  }

  .separator {
    margin-top: 32px;
  }

  .login-page-content {
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: scroll;
    height: auto;
    min-height: 400px;
  }

  .login-form-container {
    padding: 48px 0px 0px 0px;
  }

  .login-button {
    margin: 48px 0px;
  }

  footer {
    position: relative;
    top: 48px;
    padding: 0px 0px 24px 0px;

    ul {
      padding: 0px;

      li {
        padding: 0px;
        margin: 0px 0px 8px 0px;
        display: block;
      }
    }
  }
}
