# Created by .ignore support plugin (hsz.mobi)
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
*.mo
*.pot
*.log
local_settings.py
instance/
.webassets-cache
.scrapy
docs/_build/
target/
.ipynb_checkpoints
.python-version
celerybeat-schedule
*.sage.py
.env
.venv
env/
venv/
ve/
ENV/
.spyderproject
.spyproject
.ropeproject
/site
.mypy_cache/
/static
.idea
.DS_Store
.vagrant
# Elastic Beanstalk Files
.elasticbeanstalk/dev_configs/*
.elasticbeanstalk/logs/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
!.elasticbeanstalk/dev_configs/staging_config.yml
!.elasticbeanstalk/dev_configs/production_config.yml
.elasticbeanstalk/config.yml

# Frontend/JS dependencies
/node_modules
package-lock.json

# Vim swap files
*.swp
*.swo


# sass
.sass-cache
app_dir/portal/static/css/style.css.map
.elasticbeanstalk/app_versions


# Storybook
storybook-static

# Docker
docker-compose.override.yml
.docker-data/

# VSCODE
.vscode/settings.json

*.css
*.map
