{% extends "authentication/base.html" %}
{% load i18n %}

{% block title %} {% trans 'Resend Link' %} {% endblock %}
{% block content %}
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8 login-form-container">
    <div class="login-form-container__content-cell">
        <h5 class="mdc-typography--headline5">{% trans "Please enter your registered email address below" %}</h5>
        <p class="mdc-typography--body2">{% trans "We will send you an email with a link to create a new password" %}</p>
        <form method="post">
            {% csrf_token %}
            {{ form.csrfmiddlewaretoken }}
            {% if messages %}
                {% for message in messages %}
                    <div class="login-message login-message--error">
                        {% blocktrans %}
                            {{ message }}
                        {% endblocktrans %}
                    </div>
                {% endfor %}

            {% endif %}
            <div class="separator"></div>
            <div id="email-container"
                 class="mdc-text-field mdc-text-field--outlined">
                <input name="{{ form.email_address.name }}" id="email" class="mdc-text-field__input">
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label for="text-field-hero-input" class="mdc-floating-label">Email Address</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>

            <input class="mdc-button mdc-button--unelevated login-button" type="submit"
                   value="{% trans 'Send Link' %}"/>
        </form>
    </div>
    </div>
{% endblock %}
